.build-window-wrapper {
  height: 100%;
  width: 100%;
  position: relative;

  .library-expand-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 6px;
    z-index: 1;

    button {
      margin: 2px;
    }
  }

  .renderer-container {
    height: 100%;
    width: 100%;
  }
}
