<div class="device-editor-wrapper">
  <mat-card class="device-editor-card">
    <mat-card-content>
      <ng-container *ngIf="activeItem | async as item">
        <app-cabinet-editor
          *ngIf="item.type === 'cabinet'"
        ></app-cabinet-editor>
        <app-populator-editor *ngIf="item.type === 'ru'"></app-populator-editor>
        <app-cable-editor *ngIf="item.type === 'port'"></app-cable-editor>
      </ng-container>
      <app-main-panel *ngIf="!(activeItem | async)"></app-main-panel>
    </mat-card-content>
  </mat-card>
</div>
