.elevation-wrapper {
  width: 100%;
  height: 100%;

  .drawer-container {
    height: 100%;

    .build-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;

      .build-window {
        min-height: 0;
        flex: 4;
        border-bottom: 2px solid rgba(0, 0, 0, 0.082);
      }

      .device-editor {
        flex: 2;
      }
    }

    .build-library {
      width: 400px;
    }
  }
}
