@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink);

.app-wrapper {
  width: 100%;
  height: 100%;

  .router-wrapper {
    height: 100%;
  }
}
